/* 
 
{
        *,
      *::before,
      *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      :root {
        --border: 1px solid black;
      }

      .scheduleCard {
        color: white;
        padding-left: 2%;
        padding-right: 2%;
      }

      body {
        scroll-behavior: smooth;
      }
      main {
        padding: 0.5rem;
        width: 100%;
        margin: auto;
      }

      main > h3 {
        color: #26327a;
        font-family: "PT Sans Narrow", sans-serif;
      }

      article > h4 {
        background-color: #bddaf5;
        color: black;
        font-family: "PT Sans Narrow", sans-serif;
      }

      article > p {
        background-color: #d1e9fd;
        color: black;
      }

      main > section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        row-gap: 1rem;
      }


      main > section > article {
        text-align: center;
        border-left: var(--border);
        border-right: var(--border);
      }

      .accordion > div > li {
        list-style: none;
      }

      .ulinvSpeaker {
        counter-reset: count;
      }

      .ulinvSpeaker > li > a {
        text-decoration: none;
      }

      .ulinvSpeaker > li,
      .listName {
        color: rgb(72, 87, 136);
      }

      .listName {
        letter-spacing: 3px;
      }

      .sp {
        font-size: 1.2rem;
        color: rgb(72, 87, 136);
      }

      .ulinvSpeaker > li.sp {
        counter-increment: count;
      }

      .ulinvSpeaker > li.sp::before {
        content: counter(count) "";
        color: rgb(72, 87, 136);
      }

      .ulinvSpeaker > li.sp:nth-child(-n + 09):before {
        content: "0" counter(count);
      }

      .li2 {
        font-weight: 600;
      }

      .li2 > span {
        letter-spacing: 3px;
      }

      .fLi > span {
        display: inline-block;
        position: relative;
        color: rgb(72, 87, 136);
      }

      .ulinvSpeaker > li {
        list-style: none;
      }

      .card-body > p > span > a {
        text-decoration: none;
      }



      #accordion {
        margin: 0 auto;
        height: 700px;
        max-width: 400px;
      }

      #accordion > div > li > .btn {
        border: none !important;
        font-size: 1rem;
      }

      #accordion > div > li:first-child > .btn {
        color: #0d6efd !important;
      }

      #accordion > div > li:nth-child(2) > .btn {
        color: #ed6c66 !important;
      }

      #accordion > div > li:nth-child(3) > .btn {
        color: #31b6cc !important;
      }

      @media only screen and (max-width: 992px) {
        .card > .card-body > ul {
          width: 70%;
        }

        .card > .card-body > ul > li {
          margin-left: 0;
        }

        .ulinvSpeaker {
          width: auto !important;
        }

        .scheduleTable {
          width: 950px;
        }
      }

      @media only screen and (max-width: 768px) {
        .sp {
          font-size: 1.2rem;
        }

        .card > .card-body > ul {
          width: 100%;
        }

        .ulinvSpeaker {
          width: auto !important;
        }
      }

}

*/
body {
  scroll-behavior: smooth;
  padding: 5px;
}

.collapsible {
  background-color: #214074;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}

.active,
.collapsible:hover {
  background-color: #8dabcb;
  color: black;
  border-radius: 10px 10px 0 0;
}

.sub-collapsible {
  background-color: #a1c3e7;
  color: black;
}

.collapsible:after {
  content: "\02795";
  font-size: 15px;
  color: white;
  float: right;
  margin-right: 10px;
}

.active:after {
  content: "\2796";
}

.content {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
